* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        }

        html {
            min-height: 100%;
            position: relative;
        }

        body {
            background-color:rgb(236, 239, 243);
            padding-top: 20px;
            margin-bottom: 150px;
        }

        /* ===== Iconos de Google ===== */
        /* Rules for sizing the icon. */
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-30 { font-size: 30px; }
        .material-icons.md-100 { font-size: 100px; }
        /* Rules for using icons as black on a light background. */
        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
        /* Rules for using icons as white on a dark background. */
        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

        header {
            display: flex;
            justify-content: center;
            position: relative;
        }
        header h1 {
            font-size: 75px;
        }

        .container {
            background-color: rgb(6, 80, 99);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 50px;
            margin: 30px 100px 30px 100px;
        }

        .tabla-reporte {
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 40px;
            text-align: center;
            font-size: 20px;
            letter-spacing: 1px;
            overflow-x: scroll;
        }

        table {
            width: 100%;
            table-layout: fixed;
        }

        table thead{    
            color: white;
        }

        table td, th {
            width: 220px;
            vertical-align: middle;
        }

        #uno {
            background-color: rgb(221, 202, 177);
        }

        #dos {
            background-color: rgb(238, 236, 231);
        }

        footer {
            color: white;
            line-height: 10px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 5px;
            font-size: 15px;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-image: url("images/footer.png");
        }